.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
}

@media (max-width: 1279px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 14px;
  }
}

@media (max-width: 1023px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    gap: 11px 14px;
  }
}

@media (max-width: 767px) {
  .elements {
    grid-template-columns: 1fr;
    gap: 22px;
  }
}

@media (max-width: 320px) {
  .elements {
    max-width: 282px;
  }
}
