.element__wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin: 25px 15px 25px 21px;
  justify-content: space-between;
}

@media (max-width: 320px) {
  .element__wrapper {
    margin-top: 23px;
    margin-bottom: 22px;
  }
}
