.footer {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 66px 200px 55px;
}

@media (max-width: 1223px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
    margin: 50px 0 32px 19px;
  }
}
