.popup__field {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 0 0;
  padding: 0 0 9px 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.popup__field:focus {
  outline: none;
  border: 1px solid;
}

/*@media (max-width: 720px) {
  .popup__field {
    padding-bottom: 8px;
    margin: 7px 0 24px 0;
  }
}*/
