.profile__activity {
  margin: 0;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid-area: profile__activity;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .profile__activity {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
