.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  padding: 0;
  margin: 22px 0 8px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 24px - 18px);
}

@media (max-width: 1223px) {
  .profile__title {
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: calc(100% - 18px - 11px);
  }
}
