.authorization__input {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  width: 100%;
  margin-bottom: 30px;
  padding: 0;
  border: 0;
  border-bottom: 2px solid #cccccc;
  color: #cccccc;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
}

.authorization__input:focus {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
}
